* {
    border: solid;
    border-radius: 5px;
    font-family: "Cartograph CF Nerd Font, monospace";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

#workspaces button {
    padding: 3px;
    color: #313244;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
}

#window,
#clock,
#pulseaudio,
#network,
#workspaces,
#tray,
#custom-clock,
#backlight {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 1px;

    background: #1e1e2e;
    padding: 0px 7px;
    border: 2px solid #33ccff;
}

#custom-clock,
#clock {
    color: #fab387;
}

#pulseaudio {
    color: #89b4fa;
}

#pulseaudio.microphone {
    color: #cba6f7;
}

